<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Informações</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/index.html" class="navbar-brand d-flex align-items-center">
        <img src="/Images/marvel.logo.png" width="100" height="60" alt="logo marvel">
      </a>
  </div>
</header>
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/Images/Secret-Wars-Marvel-2015.jpg" svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><strong><center>Guerras Secretas 2015</center></strong></text></svg>
            <div class="card-body">
              <p class="card-text">A mega saga começa quando a entidade chamada Beyonder promove uma batalha nunca antes vista entre os maiores heróis 
                e vilões do universo Marvel, oferecendo ao grupo vencedor, como prêmio, a realização de todos os seus desejos.
                Poucas séries na cronologia Marvel foram tão importantes como Guerras Secretas, uma imensa história em 12 partes, 
                envolvendo os principais heróis e vilões do universo. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.amazon.com.br/Secret-Wars-2015-2016-English-ebook/dp/B01BL1E3NQ/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=guerras+secretas+2015&qid=1570411386&s=digital-text&sr=1-1"><button type="button" class="btn btn-sm btn-outline-secondary">Comprar essa Edição</button></a>
                </div>
                <small class="text-muted">10 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/Images/251092e967cfe9351d57ba8a93fdf0f0.jpg" svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><strong><center> Guerras Secretas Era do Apocalipse</center> </strong></text></svg>
            <div class="card-body">
              <p class="card-text">A saga da Era de Apocalipse começa com o mutante Legião voltando no tempo para matar Magneto, 
                o maior inimigo de seu pai (o Professor Xavier). Porém no momento em que iria realizar seu intento, o próprio Xavier interferiu, 
                sendo ele a morrer. A morte do professor X provoca mudanças drásticas no futuro. Legião imediatamente deixa de existir, 
                já que seu pai morreu antes que ele nascesse. Tocado pelo sacrifíco de Xavier,
                Magneto adota sua política de convivência pacífica entre humanos e mutantes.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.amazon.com.br/X-Men-Era-Apocalipse-Saga-Completa/dp/857351874X/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=xmen+era+do+apocalipse&qid=1570411312&s=digital-text&sr=8-1"><button type="button" class="btn btn-sm btn-outline-secondary">Comprar essa Edição</button></a>
                </div>
                <small class="text-muted">1 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/Images/old-man-logan2.jpg" svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><strong><center>Velho Logan</center></strong></text></svg>
            <div class="card-body">
              <p class="card-text">No inicio da história todos os Estados Unidos foram conquistados e divididos entre os supervilões, 
                com áreas pertencentes ao Abominável (depois conquistado pelo Hulk), Magneto (depois conquistado pelo novo Rei do Crime), 
                Doutor Destino e Caveira Vermelha, que se nomeou presidente. Os heróis foram eliminados, com alguns poucos sobreviventes escondidos e 
                espalhados pelo país. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.amazon.com.br/Wolverine-Logan-Berzerker-2016-2018-English-ebook/dp/B01HC65S88/ref=sr_1_7?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=wolverine+and+the+x-mens&qid=1570410401&s=digital-text&sr=1-7"><button type="button" class="btn btn-sm btn-outline-secondary">Comprar essa Edição</button></a>
                </div>
                <small class="text-muted">7 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/Images/Fabulosos Vingadores.jpeg" svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><strong><center>Fabulosos Vingadores</center></strong></text></svg>
            <div class="card-body">
              <p class="card-text">Os Fabulosos Vingadores são uma equipe de Super-Heróis composta por membros dos X-Men e dos Vingadores. 
                Tem como principal objetivo demonstrar que mutantes e humanos mutantes podem se unir para conseguir objetivos comuns. 
                Após a guerra entre os Vingadores e os X-Men, o Capitão América percebeu que os Vingadores deveriam ter feito mais para ajudar a população mutante. 
                Como resultado, ele formou uma nova equipe de vingadores, querendo unificar humanos e mutantes como um só.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.amazon.com.br/Fabulosos-Vingadores-Rumo-ao-Eixo/dp/8542610296/ref=sr_1_2?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=fabulosos+vingadores&qid=1570410226&s=digital-text&sr=1-2-catcorr"><button type="button" class="btn btn-sm btn-outline-secondary">Comprar essa Edição</button></a>
                </div>
                <small class="text-muted">8 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/Images/Absolute_Carnage_Vol_1_11.jpg" svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><strong><Center>Absolute Carnage</Center></strong></text></svg>
            <div class="card-body">
              <p class="card-text">Depois de virar o mundo de Venom de cabeça para baixo há um ano, 
                DONNY CATES e RYAN STEGMAN estão prestes a colocar o Simbionte Sinistro no inferno novamente, 
                só que desta vez CARNAGE chegou chamando, e todo mundo que já usou um simbionte está morto à sua vista! Ele está à margem da periferia do Universo Marvel há meses, 
                mas Cletus Kasady finalmente está pronto para fazer seu grande retorno a Nova York em uma história de tamanho triplo ... 
                e ele quer pintar a cidade de vermelho!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.amazon.com.br/Absolute-Carnage-Directors-Cut-English-ebook/dp/B07SJ8N8PC/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=absolute+carnage&qid=1570410060&s=digital-text&sr=1-1"><button type="button" class="btn btn-sm btn-outline-secondary">Comprar essa Edição</button></a>
                </div>
                <small class="text-muted">12 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/Images/The Imortal Hulk.jpg" svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><strong><center>The Imortall Hulk</center></strong></text></svg>
            <div class="card-body">
              <p class="card-text">A terceira ressurreição consecutiva do Hulk veio pelas mãos do Desafiador, 
                um Ancião do Universo exilado que retornou para uma revanche contra o Grão-Mestre. 
                Ele relatou a raiva do Hulk e o trouxe de volta à vida para atuar como seu ás na manga durante a rodada final de uma disputa entre cada uma das 
                equipes dos Anciões, a Ordem Negra e a Legião Letal, cujo objetivo tinha sido o de capturar as pirâmides implantadas na Terra por seus mestres 
                durante cada rodada</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.amazon.com.br/Immortal-Hulk-Vol-2018-English-ebook/dp/B07JHP2WQX"><button type="button" class="btn btn-sm btn-outline-secondary">Comprar essa Edição</button></a>
                </div>
                <small class="text-muted">19 mins</small>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">
        <h4><center>Voltar ao Topo</h4></center></a>
        <p><center> &copy; 2019 MARVEL. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</center></a></p>
    </p>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>